<header id="top-header">
  <span class="siteName">
    <a href="/" title="Return to home page">CSE Motors</a>
  </span>
  <div id="tools">
    <a title="Click to log in" href="/account/login">My Account</a>
  </div>
  <div class="hamburger-menus">
    <span class="line line1"></span>
    <span class="line line2"></span>
    <span class="line line3"></span>
  </div>
</header>
<script type="module" src="/js/navigation.js"></script>