<section class="hero">
    <div class="hero-bg">
        <picture>
            <!-- Desktop image -->
            <source srcset="/images/bg/bg2-desktop.webp" media="(min-width: 1024px)">
            <!-- Tablet image -->
            <source srcset="/images/bg/bg2-tablet.webp" media="(min-width: 768px)">
            <!-- Mobile image (default) -->
            <img src="/images/bg/bg2-mobile.webp" alt="CSE motor background image">
        </picture>
    </div>
    <div class="overlay">
    </div>
    <div class="hero-content">
        <h1>Welcome to CSE Motors</h1>
        <div class="hero-sub-content">
            <p>Where innovation meets the road.</p>
        </div>
        <a href="#" id="cta-button">Own Today</a>
    </div>
</section>

<section id="car-details" class="car-details">
    <div class="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like travelling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>
    <div class="upgrades">
        <h2>Delorean Upgrades</h2>
        <div class="available-upgrade">
            <figure>
                <div class="imageContainer"><img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor"></div>
                <figcaption><a href="#">Flux Capacitor</a></figcaption>
            </figure>
            <figure>
                <div class="imageContainer"><img src="/images/upgrades/flame.jpg" alt="Flame Decals"></div>
                <figcaption><a href="#">Flame Decals</a></figcaption>
            </figure>
            <figure>
                <div class="imageContainer"><img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers"></div>
                <figcaption><a href="#">Bumper Stickers</a></figcaption>
            </figure>
            <figure>
                <div class="imageContainer"><img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps"></div>
                <figcaption><a href="#">Hub Caps</a></figcaption>
            </figure>
        </div>
    </div>
</section>