<section class="add-classification">
    <h1><%- title %></h1>
    <%- messages() %>
    <% if (errors) { %>
        <ul class="notice">
            <% errors.array().forEach(error => { %>
                <li><%- error.msg %></li>
            <% }) %>
        </ul>
    <% } %>
    <form id="add-classification" action="/inv/add-classification" method="post">
        <label for="class-name">Classification Name</label>
        <input type="text" name="classification_name" id="class-name" required pattern="[a-zA-Z]{2,}" value="<%- locals.classification_name %>">
        <span>The name must be alphabetic characters only</span>
        <button type="submit">Add Classification</button>
    </form>
</section>