<section class="management">
    <h1><%- title %></h1>
    <%- messages() %>
        <div class="add-type">
            <a href="/inv/add-classification">Add new classification</a>
            <a href="">Add new inventory</a>
        </div>
</section>