<section class="error-section">
    <div class="error-detail">
        <h1><%= title %></h1>
        <p><%- message %></p>
    </div>
     <% if (title == 404 || title === '404') { %>
    <img src="/images/404.svg" alt="<%- message %>" class="error-image">
    <% } else {%>
     <img src="/images/404-1.svg" alt="<%- message %>" class="error-image">
     <% } %>
    
</section>